* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 100px auto 50px;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: rgb(255, 255, 255);
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(0, 255, 238), 0 0 20px rgb(0, 255, 238) ;
}

footer {
    padding: 20px;
    background-color:rgb(255, 255, 255);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    display: flex;
    height: 50px;
    text-shadow: 10px;
    justify-content: center;
    width: 100%;
    text-shadow: 0 0 20px rgb(0, 255, 238), 0 0 20px rgb(0, 255, 238) ;
}

.overskrift-wrapper {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 20px rgb(0, 255, 238), 0 0 20px rgb(0, 255, 238) ;
    padding-right: 200px;
}

.text-wrapper {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:dimgray;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 0 0 20px rgb(0, 255, 238), 0 0 20px rgb(0, 255, 238);
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.sidenav{
    height: 200px;
    width: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    background-color: dimgray;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 210px;
    border-radius: 5px;
    word-break:break-all;
    flex-direction: column;
    padding-top: 60px;
    font-size: 20px;
    text-shadow: 0 0 20px rgb(0, 255, 238), 0 0 20px rgb(0, 255, 238);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

aside{
    display: block;
    unicode-bidi: isolate;
    flex-direction: column;
    text-align: center;
    color: dimgrey;
}

button#menuBtn {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 50px;
    background-color: dimgray;
    color: rgb(0, 255, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    word-break: break-all;
}

.closebtn {
    position: fixed;
}